:root {
	--color-1 : #2D2A26;
	--color-2 : #f7d21e;
	--color-3 : #EEE9D7;

	@media (min-width: 797.6px) /* Insert the same width as limbo-min variable */ {
		--site-width: 90%;
		--body-size: 18px;
	}

	@media (max-width: 797.5px) /* Insert the same width as tab-max variable */ {
		--site-width: calc(100% - 50px);
		--body-size: 17px;
	}

	--site-max-width: 1180px;


--space-1: 80px;
--space-2: 69px;
--space-3: 35px;
--space-4: 20px;

}

$st: .3s all;

$mob-max: 599.5px;
$tab-min: 599.6px;
$tab-max: 797.5px;
$limbo-min: 797.6px;
$limbo-max: 1199.5px;
$desk-min: 1199.6px;
$sm-desk-max: 1360.5px;
$md-desk-min: 1360.6px;
$md-desk-max: 1659.5px;
$lg-desk-min: 1659.6px;
$huge-desk-min: 2560px;

@mixin mob-only {
  @media (max-width: $mob-max) {
    @content;
  }
}

@mixin tab-min {
  @media (min-width: $tab-min) {
    @content;
  }
}

@mixin tab-max {
  @media (max-width: $tab-max) {
    @content;
  }
}

@mixin tab-only {
  @media (min-width: $tab-min) and (max-width: $tab-max) {
    @content;
  }
}

@mixin limbo-min {
  @media (min-width: $limbo-min) {
    @content;
  }
}

@mixin limbo-max {
  @media (max-width: $limbo-max) {
    @content;
  }
}

@mixin limbo-only {
  @media (min-width: $limbo-min) and (max-width: $limbo-max) {
    @content;
  }
}

@mixin desk-min {
  @media (min-width: $desk-min) {
    @content;
  }
}

@mixin sm-desk-only {
  @media (min-width: $desk-min) and (max-width: $sm-desk-max) {
    @content;
  }
}

@mixin sm-desk-max {
  @media (max-width: $sm-desk-max) {
    @content;
  }
}

@mixin md-desk-min {
  @media (min-width: $md-desk-min) {
    @content;
  }
}

@mixin md-desk-max {
  @media (min-width: $md-desk-max) {
    @content;
  }
}

@mixin md-desk-only {
  @media (min-width: $md-desk-min)  and (max-width: $md-desk-max) {
    @content;
  }
}

@mixin lg-desk-min {
  @media (min-width: $lg-desk-min) {
    @content;
  }
}

@mixin huge-desk-min {
  @media (min-width: $huge-desk-min) {
    @content;
  }
}

@mixin flex {
	display: flex;
	flex-wrap: wrap;
}


.space_1 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-1);
}

.space_2 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-2);
}

.space_3 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-3);
}

.space_4 {
	padding-top: var(--space-4);
	padding-bottom: var(--space-4);
}
.space_1_0 {
	padding-top: var(--space-1);
}

.space_2_0 {
	padding-top: var(--space-2);
}

.space_0_1 {
	padding-bottom: var(--space-1);
}

.space_0_2 {
	padding-bottom: var(--space-2);
}

.space_0_3 {
	padding-bottom: var(--space-3);
}

.space_0_4 {
	padding-bottom: var(--space-4);
}

.space_1_2 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-2);
}

.space_1_3 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-3);
}

.space_3_1 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-1);
}
.space_2_3 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-3);
}
.space_2_1 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-1);
}
.space_3_2 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-2);
}

.space_3_4 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-4);
}

.space_4_1 {
	padding-top: var(--space-4);
	padding-bottom: var(--space-1);
}

.t_space_1 {
	margin-bottom: var(--title-space-1);
}

.t_space_2 {
	margin-bottom: var(--title-space-2);
}

.t_space_3 {
	margin-bottom: var(--title-space-3);
}

.t_space_4 {
	margin-bottom: var(--title-space-4);
}


.title-1 {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.21;
	@include mob-only() {
		font-size: 35px;
	}
}

.title-2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;
}

.body-1 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
}

.body-2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.37;
}

.bg_img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.btn {
	min-width: 172px;
	min-height: 57px;
	max-width: 100%;
	padding: 7.5px 15px;
	font-size: 16px;
	font-weight: 600;
	transition: $st;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	&:hover {
		background-color: #ADADAD;
		border-color: #ADADAD;
		color: var(--color-1);
	}
	&:active {
		background-color: #fff;
		color: var(--color-1);
		border-color: var(--color-1);
	}
}

.btn-1 {
	background-color: var(--color-1);
	border: 2px solid var(--color-1);
	color: #fff;
}

.btn-2 {
	color: var(--color-1);
	background-color: #d7d7d7;
	border: 2px solid #d7d7d7;
}

.btn-3 {
	color: var(--color-1);
	background-color: var(--color-2);
	border: 2px solid var(--color-2);
}

@mixin btn-1 {
	min-width: 172px;
	min-height: 57px;
	max-width: 100%;
	padding: 7.5px 15px;
	font-size: 16px;
	font-weight: 600;
	transition: $st;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	background-color: var(--color-1);
	border: 2px solid var(--color-1);
	color: #fff;
	&:hover {
		background-color: #ADADAD;
		border-color: #ADADAD;
		color: var(--color-1);
	}
	&:active {
		background-color: #fff;
		color: var(--color-1);
		border-color: var(--color-1);
	}
}
