#main-footer {
	p, a {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
	}
	#footer-widgets {
		padding-top: 44px;
		padding-bottom: 13px;
		@include limbo-min {
			gap: 22px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, auto);
		}
		@include tab-max {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 35px;
		}
		> div {
			@include tab-max {
				margin-bottom: 18px;
			}
		}
	}
	.footer-widget {
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
	}
	.container {
		max-width: 1600px;
		width: 90%;
	}
	.et_pb_widget.fwidget {
		float: none;
	}
	.ks_footer_widget_1 {
		grid-column: 1 / 3;
		@include mob-only {
			order: 1;
		}
	}
	.ks_footer_widget_2 {
		@include  lg-desk-min {
			padding-left: 33px;
		}
		@include tab-only {
			width: 48%;
		}
		@include mob-only {
			margin-bottom: 0!important;
			order: 2;
		}
		@include md-desk-only {
			padding-left: 25px;
		}
	}
	.ks_footer_widget_3 {
		@include lg-desk-min {
			padding-left: 50px;
		}
		@include tab-only {
			width: 48%;
		}
		@include mob-only {
			margin-bottom: 0!important;
			order: 3;
		}
		@include md-desk-only {
			padding-left: 35px;
		}
	}
	.ks_footer_widget_4 {
		grid-column: 1 / 3;
		@include mob-only {
			order: 5;
			width: 100%;
		}
	}
	.ks_footer_widget_5 {
		grid-column: 3 / 5;
		@include  lg-desk-min {
			padding-left: 33px;
		}
		@include mob-only {
			order: 4;
			width: 100%;
		}
		@include md-desk-only {
			padding-left: 25px;
		}
	}
	.footer_title {
		font-size: 16px!important;
		font-weight: 600!important;
		padding-bottom: 0!important;
		color: #f7d21e!important;
		a {
			color: #f7d21e;
			line-height: 1;
		}
	}
	.footer_logos {
		img {
			height: 83px;
			object-fit: contain;
			object-position: left;
		}
	}
	.footer_about {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		max-width: 420px;
		a {
			font-weight: 700;
		}
	}
	.footer_bdo {
		margin-top: -7.5px;
		margin-bottom: 0;
		p, a {
			font-size: 15px;
			line-height: 24.5px;
		}
		img {
			height: 50px;
			object-fit: contain;
			object-position: left;
		}
		.wp-block-column:first-child {
			flex-basis: 100px!important;
			width: 100px;
		}
		.wp-block-column:not(:first-child) {
			flex-basis: calc(100% - 135px)!important;
		}
	}
	.footer-widget:not(:first-child) {
		.widget_text {
			margin-bottom: 18px!important;
			p {
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
			}
			a {
				font-weight: 700;
			}
		}
	}
	.footer_phone {
		margin-bottom: 18px;
		a {
			font-weight: 700;
		}
	}
	.footer_location {
		a {
			font-weight: 500!important;
		}
	}
	.wp-block-social-links {
		list-style: none;
		@include limbo-min {
			margin-top: -5px;
		}
		li {
			padding-left: 0;
			&::before {
				display: none;
			}
			a {
				height: 32px;
				width: 32px;
				background-color: #f7d21e;
				border-radius: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:before {
					font-size: 16px;
					line-height: 32px;
					display: block;
					color: #2d2a26;
					transition: color .3s;
					position: relative;
					z-index: 10;
					font-family: ETmodules;
					speak: none;
					font-style: normal;
					font-weight: 400;
					-webkit-font-feature-settings: normal;
					font-feature-settings: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					text-shadow: 0 0;
					direction: ltr;
				}
			}
			svg {
				display: none;
			}
			&.wp-social-link-linkedin {
				a:before {
					content: "\E09D";
				}
			}
			&.wp-social-link-facebook {
				a:before {
					content: "\e093";
				}
			}
			&.wp-social-link-instagram {
				a:before {
					content: "\e09a";
				}
			}
		}
	}
}
#footer-bottom {
	display: none;
}
@media(max-width: 767px) {
	#footer-widgets {
		padding-bottom: 0;
	}
#footer-widgets .footer-widget:nth-child(n) {
		margin-bottom: 0!important;
	}
}

.active {
	width: 200px;
	height: 50px;
	background-color: red;
	z-index: 999;
}
