@font-face {
	font-family: "AvenirNext";
	src: url(assets/fonts/AvenirNext-Regular.ttf);
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: "AvenirNext";
	src: url(assets/fonts/AvenirNext-Medium.ttf);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "AvenirNext";
	src: url(assets/fonts/AvenirNext-DemiBold.ttf);
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: "AvenirNext";
	src: url(assets/fonts/AvenirNext-Bold.ttf);
	font-display: swap;
	font-weight: 700;
}

.ks_page_content, footer {
	* {
		font-family: "AvenirNext"!important;
	}
}


.container {
	width: var(--site-width);
	max-width: var(--site-max-width);
	margin-inline: auto;
}


.kss_h2	{
	font-size: 42px;
	font-weight: 700;
	line-height: 1.3;
	position: relative;
}

.hidden {
	display: none;
}

p {
	padding-bottom: 12px;
}
