@mixin h-after {
	&::after {
		content: "";
		width: 84px;
		height: 7px;
		display: block;
		background-color: var(--color-2);
		margin-top: var(--space-3);
	}
}


/* Software Solutions */

.ks_software_solutions {
	.ks_ss_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.info_box {
			width: 48%;
			margin-bottom: 4%;
			@include mob-only {
				width: 100%;
			}
			.ib_text {
				padding-inline: 40px;
			}
			.btn {
				margin-left: 40px;
			}
		}
	}
}

.ks_ss_hero {
	background-color: var(--color-1);
	padding-inline: var(--space-1);
	h1 {
		color: #fff;
		font-weight: 700;
		padding-bottom: 0;
		@include h-after;
	}
}


/* Sage 100 */

.ks_sage_hero {
	@include flex;
	@include desk-min {
		> div {
			width: 50%;
		}
	}
	.left {
		background-color: var(--color-1);
		padding: var(--space-3) var(--space-1) var(--space-1);
		@include tab-max {
			padding-inline: var(--space-3);
		}
		h1 {
			color: #fff;
			@include h-after;
			line-height: 1.3;
		}
		div {
			color: #fff;
			font-size: 18px;
			line-height: 26px;
			margin-top: var(--space-3);
		}
	}
	.right {
		background-color: var(--color-1);
		@include limbo-max {
			width: 100%;
		}
		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
			height: 100%;
		}
		video {
			width: 100%;
		}
	}
}

.ks_sage_section {
	display: flex;
	padding: var(--space-3) var(--space-1);
	align-items: start;
	@include limbo-max {
		flex-direction: column;
	}
	@include tab-max {
		padding-inline: var(--space-3);
	}
	@include desk-min {
		> div {
			width: 50%;
		}
	}
	.left {
		@include tab-max {
			margin-bottom: var(--space-4);
		}
		@include desk-min {
			padding-right: var(--space-2);
		}
	}
	.blurb {
		margin-bottom: 15px;
		p {
			padding-bottom: 15px;
			&:last-child {
				padding-bottom: 0;
			}
		}
		h3 {
			margin-bottom: 5px;
		}
		ul {
			list-style: disc;
			padding-left: 20px;
		}
	}
	.right {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include mob-only {
			flex-direction: column;
		}
	}
	.sage_ib {
		@include tab-min {
			width: 48.5%;
		}
		margin-bottom: 3%;
		padding: 30px 40px 25px 30px;
		@include tab-max {
			padding: 25px;
		}
		background-color: var(--color-3);
		display: flex;
		flex-direction: column;
		justify-content: center;
/* 		aspect-ratio: 423 / 351;
 */		h3 {
			font-size: 25px;
			font-weight: 600;
			line-height: 29px;
		}
		div {
			margin-bottom: auto;
			margin-top: 0;
			padding-bottom: 18px;
		}
		.btn {
			width: fit-content;
		}
	}
}

/* Sage Inner */

.ks_sage_inner {
	@include flex;
	padding-inline: var(--space-2);
	justify-content: space-between;
	.wp_content {
		p {
			margin-bottom: var(--space-3);
		}
		img {
			float: none;
			max-width: 414px;
		}
	}
	.ks_si_ib {
		&:not(:last-child) {
			margin-bottom: var(--space-3);
		}
		h3 {
			margin-bottom: 15px;
		}
	}
	ul {
		list-style: disc;
		padding-left: 20px;
		margin-bottom: 10px;
	}
	.btn {
		margin-top: var(--space-3);
	}
	@include desk-min {
		> div {
			width: calc(50% - 30px);
		}
	}
	@include limbo-max {
		> div {
			width: 100%;
		}
		.right {
			margin-top: var(--space-3);
		}
	}
	.right {
		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
			height: auto;
		}
	}
}


/* About */

.ks_about_page {
	.wp-post-image {
		width: 100%;
	}
	display: flex;
	flex-direction: column;
}


/* Century */

.ks_century {
	display: flex;
	padding-inline: var(--space-2);
	max-width: calc(1920px + var(--space-2)*2);
	justify-content: space-between;
	flex-wrap: wrap;
	.ks_col {
		@include desk-min {
			width: 23%;
		}
		@include limbo-max {
			width: 48%;
			margin-bottom: 4%;
		}
		@include mob-only {
			width: 100%;
			.btn {
				margin-top: var(--space-3);
			}
		}
		&:first-child {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: start;

		}
		ul {
			list-style: disc;
			padding-left: 20px;
		}
	}
}

/* Contact */

.ks_contact_top {
	display: flex;
	max-width: calc(1920px + var(--space-2)*2);
	padding: var(--space-2);
	padding-bottom: 0;
	@include mob-only {
		padding-inline: var(--space-3);
	}
	h1 {
		font-weight: 700;
		font-size: 42px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 84px;
			height: 7px;
			background-color: var(--color-2);
			left: 0;
			bottom: -20px;
		}
	}
}
.ks_contact_inner {
	display: flex;
	max-width: calc(1920px + var(--space-2)*2);
	margin-inline: auto;
	padding: var(--space-2);
	flex-wrap: wrap;
	justify-content: space-between;
	@include mob-only {
		padding-inline: var(--space-3);
	}
	h1 {
		width: 100%;
	}
	a {
		color: #b36c26;
	}
	.ks_col {
		&:first-child {
			width: 23%;
			font-weight: 500;
		}
		&:nth-child(2) {
			width: 20%;
			font-weight: 600;
			@include desk-min {
				margin-left: 30px;
				margin-right: auto;
			}
		}
		&:last-child {
			width: 50%;
			.gform_legacy_markup_wrapper {
				margin: 0;
				@include limbo-min {
					li:first-child {
						margin-top: 0;
					}
				}
			}
			.gform_heading {
				display: none;
			}
			.gform-body {
				.gfield_label {
					font-size: 16px;
					font-weight: 500;
				}
				@include tab-min {
					li:not(:first-child):not(:nth-child(2)) {
						margin-top: 16px;
					}
				}
				input {
					width: 100%;
					background-color: rgba(215, 215, 215, .25);
					border: none;
					height: 53px;
					padding-inline: var(--space-4)!important;

				}
				textarea {
					background-color: rgba(215, 215, 215, .25);
					border: none;
					padding: var(--space-4);
				}
			}
			input.gform_button {
				@include btn-1;
				cursor: pointer;
			}
		}
		@include limbo-only {
			&:first-child {
				width: 48%;
			}
			&:nth-child(2) {
				width: 48%;
			}
			&:last-child {
				width: 100%;
			}
		}
		@include tab-only {
			&:first-child {
				width: 48%;
			}
			&:nth-child(2) {
				width: 48%;
			}
			&:last-child {
				width: 100%;
			}
		}
		@include mob-only {
			width: 100%!important;
			margin-bottom: var(--space-4);
		}
	}
	.zrf-form form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		p {
			@include tab-min {
				padding-bottom: 16px;
				width: 49%;

			}
			@include mob-only {
				width: 100%;
			}
			label {
				font-size: 16px;
			}
			input:not([type='submit']), select {
				width: 100%;
				background-color: rgba(215, 215, 215, 0.25);
				border: none;
				height: 53px;
				padding-inline: var(--space-4);
			}
			textarea {
				border: none;
				background-color: rgba(215, 215, 215, 0.25);
				padding-inline: var(--space-4);
			}
			select {
				font-style: italic;
			}
			input[type='submit'] {
				@include btn-1;
				cursor: pointer;
			}
		}
	}
}

/* Support */

.ks_page_content.support {
	.ks_contact_inner {
		justify-content: flex-start;
	}
	.ks_col:first-child {
		display: none;
	}
	.ks_col:nth-child(2) {
		margin-left: 0;
		@include tab-min {
			margin-right: 56px;
		}
	}
}


/* Sage */

html body #sage-intacct-partners a.button {
	min-width: 172px;
	min-height: 57px;
	max-width: 100%;
	padding: 7.5px 15px;
	font-size: 16px;
	font-weight: 600;
	transition: $st;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	background-color: var(--color-1);
	border: 2px solid var(--color-1);
	background-image: none;
	color: #fff;
	&:hover {
		background-color: #ADADAD;
		border-color: #ADADAD;
		color: var(--color-1);
		background-image: none;
	}
	&:active {
		background-color: #fff;
		color: var(--color-1);
		border-color: var(--color-1);
		background-image: none;
	}
}


html body #sage-intacct-partners .cta-buttons a.button {
	min-width: 172px;
	min-height: 57px;
	max-width: 100%;
	padding: 7.5px 15px;
	font-size: 16px;
	font-weight: 600;
	transition: $st;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	color: var(--color-1);
	background-color: #d7d7d7;
	border: 2px solid #d7d7d7;
	background-image: none;
	&:hover {
		background-color: #ADADAD;
		border-color: #ADADAD;
		color: var(--color-1);
		background-image: none;
	}
	&:active {
		background-color: #fff;
		color: var(--color-1);
		border-color: #ADADAD;
		background-image: none;
	}
	i {
		display: none;
	}
}

html body #sage-intacct-partners .sub-navigation ul.sub-navigation-list li.sub-navigation-list-item.sub-navigation-list-item--active {
	border-bottom-color: #B26C26!important;
}
